* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(img/hoyo.png);
    background-size: cover;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px rgb(0, 0, 0);
    font-family: 'Press Start 2P', cursive;
    padding: 3px 20px 20px 20px;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

header h1 {
    color: white;
    text-shadow: 2px 2px rgb(156, 95, 255);
    font-size: 40px;
}

header p {
    font-size: 20px;
    color: white;
    margin-top: 10px;
}

.Jogos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.Imagens {
    border: 3px solid rgb(17, 13, 68);
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 200px;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease;
}

.Imagens:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.Imagens img {
    width: 100%;
    height: auto;
    border-radius: 100px;
    margin-bottom: 10px;
    cursor: pointer;
}

.Imagens h2 {
    font-size: 30px;
    margin: 10px 0 5px;
    color: rgb(255, 255, 255);
}

.Imagens p {
    font-size: 20px;
    color: rgb(255, 255, 255);
}

footer {
    margin-top: 40px;
    text-align: center;
    font-size: 8px;
    color: lightblue;
}

.Ababa {
    background: url(img/hoyo.png);
    background-size: cover;
}

.Ababa main iframe {
    border-radius: 30px;
}

.a {
    margin-top: 10px;
}

.GI {
    background: url(img/hoyo.png);
    background-size: cover;
}

.GI main iframe {
    border-radius: 30px;
}

.zzz {
    background: url(img/hoyo.png);
    background-size: cover;
}

.zzz main iframe {
    border-radius: 30px;
}

.hi3 {
    background: url(img/hoyo.png);
    background-size: cover;
}

.hi3 main iframe {
    border-radius: 30px;
}

.tears {
    background: url(img/hoyo.png);
    background-size: cover;
}

.tears main iframe {
    border-radius: 30px;
}

h3 {
    margin-top: 50px;
    text-align: center;
    color: aliceblue;
    
}

.sr {
    display: flex;
    justify-content: center;
}

.gg {
    display: flex;
    justify-content: center;
}

.z {
    display: flex;
  justify-content: center;
}

.hi {
    display: flex;
    justify-content: center;
}

.th {
    display: flex;
    justify-content: center;
}

h5 {
    text-align: center;
}